* {
  font-size: 35px;
}
html {
  background: black;
  color: white;
}

.calculator-row {
  font-size: 0px;
  text-align: center;
  /* vertical-align: center; */
}

.btn {
  border: 0.5px solid black;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: top;
}

.btn:hover {
  opacity: 90%;
}

.btn:active {
  opacity:80%;
}

.number-btn {
  background: rgb(107, 107, 107);
  font-weight: 100;
}

.function-btn {
  background: rgb(250, 159, 8);
  font-weight: 200;
  padding-bottom: 7.5px;
}

.equals-btn {
  background: rgb(250, 159, 8);
  font-weight: 200;
  padding-bottom: 7.5px;

}

.zero-btn {
  width: 100px;
}

#result {
  display: inline-block;
  width: 149.5px;
  height: 49.5px;
  background: rgb(190,190,190);
  border: 0.5px solid black;
  color: black;
  text-align: left;
  line-height: 50px;
  overflow: scroll;
  font-weight: 100;
  font-size: 25px
}

.percent-btn {
  border-bottom: 0px solid black;
  border-right: 0.75px solid black;
}

/*
.clear-btn {
  width: 200px;
  height: 50px;
  border: 1px solid red;
  text-align: center;
  padding-bottom: 7.5px;
}
.clear-btn-container {
  font-size: 0px;
  text-align: center;

} */

.paper-tape {
  display: inline-block;
  width: 196px;
  height: 250px;
  border: 0.5px solid white;
  text-align: left;
  padding-bottom: 7.5px;
  padding-left: 2.5px;
  font-weight: 100;
  font-size: 25px;
  overflow: scroll;
  margin-top: 1px;
}

.paper-tape-container {
  font-size: 0px;
  text-align: center;
  /* vertical-align: center; */
}

p {
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
